body{
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
    display: block;
}
nav{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    height: 55px;
    text-align: center;
    background: #FFFF;
    padding: 0;
    margin: 0;
}
.imagenes_publicidad{
    width: 50%;
    user-select: none;
}
.informacion_publicidad{
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;
 }
.Publicidad
{
    display: flex;
    background: #012B67;
    width: 100%;
    height: 250px;
}
.Logo{
    width: 10%;
    height: 55px;
}
.opciones{
    width: 60%;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: start;
}
.perfil{
    width: 30%;
    height: 55px;
}

.Logo img{
    width: 80px;
}
.perfil ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 15rem;
    margin-left: 20%;
}
.perfil button{
    border: none;
    height: 55px;
    width: 180px;
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 200;
    background: none;
}
.perfil button:hover{
    background: #adadad;
    cursor:pointer;
}
.opciones button{
    border: none;
    height: 55px;
    width: 180px;
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 200;
    background: none;
}
.opciones button:hover{
    background: #adadad;
    cursor:pointer;
}

.Cuerpo_contenedor{
    background: #ffff;
    display: block;
    justify-content: center;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}
.seccion{
    background: #ebe8e8;
    display: flex;
    justify-content: center;
    height: 400px;
}
.seccion2{
    margin-top: 100px;
    background: #ebe8e8;
    display: flex;
    height: 400px;
    justify-content: center;
}
.seccion3{
    margin-top: 100px;
    margin-bottom: 10px;
    background: #ebe8e8;
    display: flex;
    height: 380px;
    justify-content: center;
}

h1{
    margin-top: 45px;
    font-family: segoe UI;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 0;
}
p{
    
    font-family: segoe UI;
    font-size: 18px;
    font-weight: 100;
    text-align: justify;
}
li{
    font-family: segoe UI;
    font-size: 18px;
    font-weight: 100;
    text-align: justify;
    
}

.informacion_publicidad .uno{
    border: none;
    height: 35px;
    width: 180px;
    border-radius: 20px;
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 500;
    color: white;
    background: rgb(3, 185, 3);
}
.informacion_publicidad .uno:hover{
    background: #adadad;
    cursor:pointer;
}
.informacion_publicidad .dos{
    margin-left: 30px;
    border: none;
    height: 35px;
    width: 120px;
    border-radius: 20px;
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 500;
    color: white;
    background: rgb(97, 97, 97);
}
.informacion_publicidad .dos:hover{
    background: #adadad;
    cursor:pointer;
}
#slider {
    position: relative;
    width: 50%;
    height: 32vw;
    margin: 150px auto;
    perspective: 1400px;
    transform-style: preserve-3d;
  }
  input[type=radio] {
    position: relative;
    top: 180px;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
  }
  
  
  input[type=radio]:nth-child(4) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 1;
  }

  #slider label,
#slider label img {
  position: absolute;
  width: 300px;
  left: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
   #s4:checked ~ #slide4 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}
#s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
   #s4:checked ~ #slide3{
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  opacity: 0;
  transform: translate3d(30%, 0, -100px);
}
#s1:checked ~ #slide3,
 #s2:checked ~ #slide4,
  #s3:checked ~ #slide2,
   #s4:checked ~ #slide1{
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  opacity: 0.6;
  transform: translate3d(30%, 0, -100px);
}

#s1:checked ~ #slide4,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide1,
   #s4:checked ~ #slide2{
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  opacity: 0.6;
  transform: translate3d(-30%, 0, -100px);
}






#s5:checked ~ #slide5,
 #s6:checked ~ #slide6,
  #s7:checked ~ #slide7,
   #s8:checked ~ #slide8 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}
#s5:checked ~ #slide6,
 #s6:checked ~ #slide7,
  #s7:checked ~ #slide8,
   #s8:checked ~ #slide7{
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  opacity: 0;
  transform: translate3d(30%, 0, -100px);
}
#s5:checked ~ #slide7,
 #s6:checked ~ #slide8,
  #s7:checked ~ #slide6,
   #s8:checked ~ #slide5{
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  opacity: 0.6;
  transform: translate3d(30%, 0, -100px);
}

#s5:checked ~ #slide8,
 #s6:checked ~ #slide5,
  #s7:checked ~ #slide5,
   #s8:checked ~ #slide6{
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  opacity: 0.6;
  transform: translate3d(-30%, 0, -100px);
}



#slider1 {
    position: relative;
    width: 50%;
    height: 32vw;
    margin: 150px auto;
    perspective: 1400px;
    transform-style: preserve-3d;
  }
  input[type=radio] {
    position: relative;
    top: 180px;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
  }
  
  
  input[type=radio]:nth-child(4) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 1;
  }

  #slider1 label,
#slider1 label img {
  position: absolute;
  width: 240px;
  left: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#s9:checked ~ #slide9,
 #s10:checked ~ #slide10,
  #s11:checked ~ #slide11,
   #s12:checked ~ #slide12 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}
#s9:checked ~ #slide10,
 #s10:checked ~ #slide11,
  #s11:checked ~ #slide12,
   #s12:checked ~ #slide11{
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  opacity: 0;
  transform: translate3d(30%, 0, -100px);
}
#s9:checked ~ #slide11,
 #s10:checked ~ #slide12,
  #s11:checked ~ #slide10,
   #s12:checked ~ #slide9{
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  opacity: 0.6;
  transform: translate3d(30%, 0, -100px);
}

#s9:checked ~ #slide12,
 #s10:checked ~ #slide9,
  #s11:checked ~ #slide9,
   #s12:checked ~ #slide10{
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  opacity: 0.6;
  transform: translate3d(-30%, 0, -100px);
}
